Support `start-info` for `multipart/related` documents

Support both setting the parameter on `Related` instances and representing the parameter in decomposed messages

See [RFC 2387, §3.3](https://www.rfc-editor.org/rfc/rfc2387.html#section-3.3)